@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@1,800;1,900&display=swap');


html,
body {
    height: 100%;
}

body {
    background-image: url('assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}
.row{
    margin-top: auto;
    margin-bottom: auto;
    margin:none;
}


.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.card{
    margin: auto;
}


#intro {

    border-radius: 3px;
    padding: 2em;
    background-color: rgba(255,255,255,0.6);
    
    
    /* style the text*/
    font-family: 'Nunito', sans-serif;
    color: rgb(46, 46, 53);
    font-size:2vh;
    text-align:center;
}

#terminal {

    border-radius: 3px;
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.904);
    
    
    /* style the text*/
    font-family: 'Press Start 2P', cursive;
    color: rgb(255,255,255);
    font-size:1.5vh;
    text-align:left;
}

h1,h3{
    font-family: 'Muli', sans-serif;
    color: rgb(255,255,255);
    
}

#title{
    text-align:center;
    padding-top: 1em;
    
}

#profile-pic {    
    
    height: 12em;
    width: 12em;
    border-radius: 100px;
}

#choice{
    outline: none;
    border: none;
    animation-name: blink;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    color: chocolate;
    background-color:transparent;
}

#output{
    font-family: 'Press Start 2P', cursive;
    color: rgb(255,255,255);
    font-size:1.5vh;
    text-align:left;
}



