@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@1,800;1,900&display=swap');



html,
body {
  height: 100%;
  overflow: hidden;
  margin:0.5%;
}



section {
    
  position: relative;
  text-align: center;
  
  align-items: center;
  justify-content: center;
  height: 100%;
  scroll-snap-align: start;
  overflow-y: auto;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    font-size: 100%;
    position: relative;
  }
  
  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 1rem 0;
  }
  
  nav ul li{
    display: flex;
    justify-content: space-around;
  }
::scrollbar {
  display: none;
}



.loop {
    position: relative;
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: y mandatory;
  }

.row{
    display: flex;
    margin-top: 5rem;
}



.nav-link{
  text-decoration: none;
  color: grey
}

.odd {
    background: white;
    color:black
}
.even{
    background: black;
  color:white;
    
}

#intro {    
    /* style the text*/
   
    color: rgb(46, 46, 53);
    font-size:2vh;
    text-align:center;
    
    width: 100%;
}

#title{
    text-align:center;
    padding-top: 1em;
    
}

#profile-pic {    
    
    height: 20em;
    width: 20em;
    border-radius: 10em;
}

#choice{
    outline: none;
    border: none;
    animation-name: blink;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    color: chocolate;
    background-color:transparent;
    font-size:2vh;
    width: 90%;
}

#output{
    font-family: 'Press Start 2P', cursive;
    color: rgb(255,255,255);
    font-size:2vh;
    text-align:left;
}



#terminal {

    border-radius: 3px;
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.904);
    
    
    /* style the text*/
    font-family: 'Press Start 2P', cursive;
    color: rgb(255,255,255);
    font-size:1.5vh;

    justify-content: left;
    text-align:left;
    align-content: left;
    

}

#comments-section{

    justify-content: left;
    text-align:left;
    align-content: left;
}

.comment{
    background-color: #ccc;
    border-radius: 1px;
    margin: 1em;
    padding: 0.2em
    }
